@import "./base/base.scss";
@import "./base/common.scss";
#app, #root{
    position: relative;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
}
#app *{
    background-color: transparent;
    background-repeat: no-repeat;
}
a{
    text-decoration: underline;
}