@import "./base/base.scss";
@import "./base/common.scss";
$comBlue: #16418a;
a{
    text-decoration: underline;
}
.cli{
    .cli-title{
        font-size: 36px;
        color: #333;
    }
    .cli-link a{
        display: inline-block;
        margin: 0 20px;
    }
    .cli-notice{
        color: #666;
    }
    .cli-plugin{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        .plugin-list li{
            margin-bottom: 15px;
        }
    }
    .cli-plugin-title{
        font-size: 28px;
        color: $comBlue;
    }
    .cli-plugin .cli-plugin-des{
        color: #999;
    }
}