.react-demo{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 100px;
    .react-demo-des{
        color: #999;;
    }
    .labels img{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
    .links a{
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
}